table{
  border-collapse: collapse;
  width: 50%;
  background-color: rgb(237, 243, 160);
  border-color: black;
  margin-left: auto;
  margin-right: auto;
  
}
th , td{
    border: 2px solid #a90505;
    text-align: center;
}
.magam{
    background-color: rgb(105, 219, 105);
}
body{
    background-color: rgb(187, 197, 158); 
}
.center{
  margin-left: auto;
  margin-right: auto;
}
.kepek{
    width: 100px;
    height: 100px;
}
a{
  color: black;
  
}
button{
  border-radius: 50%;
  width: 100px;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  font-size: 16px;
}